<h2>Add new post</h2>
<p> 
	<form action = '/new' method = 'POST' role = 'form'>
	
	<textarea class="form-control" rows="5" name = "post_text" placeholder="Whisper something in the lair"></textarea>
	<br />
	<button type="submit" class="btn btn-primary" style="width: 200px; " >Yarrr!</button>

	</form>

</p>